<!DOCTYPE html>
<html lang="en">

<head>
    <%- include common %>
    <title>student</title>
    <style>
        .main {
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <%- include("header",{title:"student"}) %>
    <div class="container container-fluid">
        <%- include("stu_nav",{type:"score"}) %>

        <div style="margin-bottom: 200px;" class="row">
            <div style="margin-top: 20px;" class="row ">
                <div style="display: flex;" class="form-group col-lg-4 col-sm-4">
                    <input style="width: 300px;" type="text" class="form-control" id="keyword"
                        placeholder="请输入/姓名/部门/性别">
                    <button class="btn btn-success"
                        onclick="todoSearch()">点击搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" onclick="location.href='/student?job=1'">工号升序</button>
                    <button class="btn btn-warning" onclick="location.href='/student?job=-1'">工号降序</button>
                    <button class="btn btn-primary" onclick="location.href='/student?age=1'">年龄升序</button>
                    <button class="btn btn-warning" onclick="location.href='/student?age=-1'">年龄降序</button>
                </div>
            </div>
            <!-- <h4 class="text-danger caption main">我的分数</h4> -->
            <table class="table table-hover table-bordered table-striped box">
                <caption class="h2 text-primary">公司员工列表</caption>
                <tr class="text-danger text-center">
                    <td>姓名</td>
                    <td>工号</td>
                    <td>部门</td>
                    <td>性别</td>
                    <td>年龄</td>
                    <td>查看</td>
                    <td>删除</td>
                </tr>

                <%    result.forEach((item,index)=>{  %>
                <tr style="color: black;" class="text-danger active text-center">
                    <td><%- item.name %></td>
                    <td><%- item.job %></td>
                    <td><%- item.section %></td>
                    <td><%- item.sex %></td>
                    <td><%- item.age %></td>
                    <td><button type="button" class="btn btn-success"
                            onclick="location.href='/detail?name=<%- item.name %>'">查看</button></td>
                    <td><button class="btn btn-warning"
                            onclick="location.href='/student?name=<%- item.name %>'">删除</button></td>
                </tr>
                <%    })   %>
            </table>
        </div>
    </div>
    <%- include footer %>
</body>
<script>
    function todoSearch() {
        window.location.href = "/student?keyword=" + $("#keyword").val()
    }
</script>

</html>